spring:
  application:
    name: tech-challenge-api
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${COGNITO_ISSUER_URI:}
          jwk-set-uri: ${COGNITO_JWK_SET_URI:}

# AWS DynamoDB Configuration
aws:
  region: ${AWS_REGION:us-east-1}

dynamodb:
  table:
    name: ${DYNAMODB_TABLE_NAME:tech-challenge-orders}
  payments:
    table:
      name: ${DYNAMODB_PAYMENTS_TABLE_NAME:tech-challenge-payments}

# Swagger/OpenAPI configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

server:
  port: 8080
  servlet:
    context-path: /api

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      environment: dev
  prometheus:
    metrics:
      export:
        enabled: true

# Logging configuration (JSON estruturado - SRE)
# Configuração detalhada em: logback-spring.xml
logging:
  level:
    root: INFO
    com.fiap.techchallenge: INFO

mercado-pago.access-token: TEST-6132655548485399-050519-5c52fb1e9a2a627837f4bff581e36402-495359857
